body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


fieldset {
    min-width: 10rem;
    max-width: 25rem;
}

a {
    margin-top: 0.7rem;
    display: block;
    text-decoration: none;
    font-weight: bold;
}